<%- include("patials/header"); -%>
<h1><%= title %></h1>

<pre style="white-space: pre-wrap ; word-wrap: break-word;"><%= content %></pre>
<a href="/delete/<%= postId %>" class="btn btn-danger">Delete</a>
<%- include("patials/footer"); -%>